/* VARIABLES */
/* MIXINS */
/* CSS */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

/* PAGE */
.page {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

/* HEADER */
.header {
  position: absolute;
  top: 30px;
  left: 20px;
  right: 20px;
  z-index: 1000;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}
.header__title {
  font-family: "Georgia", sans-serif;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  padding-bottom: 7px;
}
.header__subtitle {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

/* NAV */
.nav {
  display: none;
}

/* INTRO */
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 120vh;
  max-height: 823px;
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}
.intro__inner {
  width: 100%;
  min-height: 673px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.intro__heading {
  font-family: "Georgia", sans-serif;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  color: #FFFFFF;
}
.intro__subheading {
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #CDCDCD;
  margin: 55px 0;
}
.intro__btn {
  width: 100%;
  max-width: 207px;
  display: block;
  vertical-align: top;
  padding: 15px 45px;
  margin: 0 auto;
  border-radius: 100px;
  font-family: "Georgia", sans-serif;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  background-color: #F1CDB3;
  color: #292929;
}
.intro__screen {
  width: 260px;
  height: 271px;
  background: url(../images/start-screen-puppy.png) no-repeat;
  background-size: contain;
  position: relative;
  left: 45px;
  z-index: 1;
}

/* ABOUT */
.about {
  padding: 45px 0;
}
.about__inner {
  width: 100%;
  height: 890px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__heading {
  font-family: "Georgia", sans-serif;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  margin-bottom: 45px;
}
.about__subheading {
  font-size: 15px;
  line-height: 24px;
  text-align: justify;
  color: #4C4C4C;
}
.about__pets {
  width: 260px;
  height: 353px;
  background: url(../images/about-pets.png) no-repeat;
  background-size: contain;
  margin: 0 auto;
  z-index: 1;
}

/* PETS */
.pets {
  padding: 35px 0;
  background-color: #F6F6F6;
}
.pets__inner {
  width: 100%;
  min-height: 707px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pets__heading {
  font-family: "Georgia", sans-serif;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
.pets__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pets__card {
  padding: 20px 0;
}
.pets__card-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pets__card-2 {
  display: none;
}
.pets__img {
  width: 100%;
  max-width: 270px;
  display: block;
  margin: 0 auto;
}
.pets__name {
  margin: 25px 0;
  font-family: "Georgia", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
.pets__card-btn {
  margin-top: 85px;
  display: block;
  vertical-align: top;
  padding: 15px 45px;
  margin: 0 auto;
  border-radius: 100px;
  font-family: "Georgia", sans-serif;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  color: #292929;
  border: 2px solid #F1CDB3;
}
.pets__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.pets__arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  margin: 0 45px;
}
.pets__btn {
  display: block;
  vertical-align: top;
  padding: 15px 45px;
  margin: 0 auto;
  border-radius: 100px;
  font-family: "Georgia", sans-serif;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  background-color: #F1CDB3;
  color: #292929;
  margin: 10px 0;
}

/* HELP */
.help {
  padding: 35px 0;
}
.help__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 35px;
}
.help__heading {
  font-family: "Georgia", sans-serif;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  margin-bottom: 45px;
}
.help__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.help__item {
  width: 100%;
  min-width: 130px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 10px;
  margin: 10px 5px;
}
.help__icon {
  display: block;
  width: 100%;
  max-width: 50px;
  margin: 0 auto;
}
.help__paragraf {
  font-family: "Georgia", sans-serif;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  padding-top: 15px;
}

/* DONATION */
.donation {
  background-color: #F6F6F6;
  padding-top: 35px;
}
.donation__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.donation__text {
  min-height: 281px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.donation__heading {
  font-family: "Georgia", sans-serif;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
.donation__subheading {
  font-size: 15px;
  line-height: 24px;
  color: #545454;
}
.donation__credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
  background-color: #F1CDB3;
  border-radius: 9px;
}
.donation__card {
  display: block;
  width: 100%;
  max-width: 30px;
}
.donation__number {
  font-family: "Georgia", sans-serif;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 25px;
}
.donation__paragraf {
  font-family: "Arial";
  font-size: 12px;
  font-style: italic;
  line-height: 18px;
  text-align: justify;
  color: #B2B2B2;
}
.donation__img {
  margin: 40px auto;
}
.donation__dog {
  display: block;
  width: 100%;
  max-width: 260px;
}

/* FOOTER */
.footer {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  padding: 35px 0 0;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__contacts {
  margin-bottom: 45px;
}
.footer__heading {
  font-family: "Georgia", sans-serif;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  color: #FFFFFF;
}
.footer__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 0;
}
.footer__letter {
  display: block;
  width: 100%;
  max-width: 40px;
  padding-right: 15px;
}
.footer__account {
  font-family: "Georgia", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #F1CDB3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__icon-phone {
  display: block;
  width: 100%;
  max-width: 40px;
  padding-right: 15px;
}
.footer__number {
  font-family: "Georgia", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #F1CDB3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.footer__location {
  margin-bottom: 15px;
}
.footer__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0;
}
.footer__marker {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 22px;
  max-height: 32px;
  margin-right: 15px;
}
.footer__boston {
  font-family: "Georgia", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #F1CDB3;
}
.footer__london {
  font-family: "Georgia", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #F1CDB3;
}
.footer__screen {
  width: 260px;
  height: 269px;
  background: url(../images/footer-puppy.png) no-repeat;
  background-size: contain;
  margin: 0 auto;
  z-index: 1;
}

/* MEDIA 768 */
@media screen and (min-width: 768px) {
  /* CONTAINER */
  .container {
    max-width: 708px;
  }
  /* HEADER */
  /* NAV */
  .nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .nav__link {
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    text-decoration: none;
    border: 2px solid transparent;
    margin-left: 45px;
  }
  .nav__link:hover {
    color: #FAFAFA;
    border-bottom: 2px solid #F1CDB3;
    -webkit-transition: linear 0.4s;
    transition: linear 0.4s;
  }
  /* HEADER */
  .header .header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  /* INTRO */
  .intro {
    max-height: 1165px;
    height: 175vh;
  }
  .intro .container {
    max-width: 569px;
  }
  .intro__inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 1015px;
    padding: 0 35px;
  }
  .intro__content {
    margin-bottom: 75px;
  }
  .intro__heading {
    font-size: 44px;
    line-height: 57px;
    text-align: left;
  }
  .intro__subheading {
    text-align: left;
  }
  .intro__screen {
    width: 569px;
    height: 593px;
    left: 45px;
    z-index: 1;
  }
  /* ABOUT */
  .about .container {
    max-width: 437px;
  }
  .about__inner {
    max-height: 868px;
  }
  .about__heading {
    font-size: 35px;
    line-height: 45px;
  }
  .about__pets {
    width: 300px;
    height: 408px;
  }
  /* PETS */
  .pets {
    padding: 75px 0;
  }
  .pets__inner {
    min-height: 697px;
  }
  .pets__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pets__card {
    margin: 0 25px;
  }
  .pets__card-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pets__navigation {
    margin: 0 -65px;
    position: relative;
    bottom: 250px;
  }
  .pets__btn {
    min-width: 260px;
    margin: 0 auto;
  }
  /* HELP */
  .help {
    padding: 75px 0;
  }
  .help .container {
    max-width: 630px;
  }
  .help__item {
    padding: 20px;
    margin: 15px 30px;
  }
  /* DONATION */
  .donation {
    padding: 75px 0;
  }
  .donation__text {
    max-width: 380px;
    margin: 0 auto;
  }
  .donation__heading {
    font-size: 35px;
    line-height: 45px;
    text-align: left;
  }
  .donation__dog {
    max-width: 505px;
  }
  /* FOOTER*/
  .footer__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__screen {
    width: 300px;
    height: 310px;
  }
}
/* MEDIA 1280 */
@media screen and (min-width: 1280px) {
  /* CONTAINER */
  .container {
    max-width: 1200px;
  }
  .intro {
    max-height: 908px;
  }
  .intro .container {
    max-width: 1200px;
  }
  .intro__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
  .intro__content {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .intro__screen {
    width: 698px;
    height: 728px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}