/* VARIABLES */
$fontGeorgia: 'Georgia', sans-serif;


/* MIXINS */
@mixin headingTitle {
    font-family: $fontGeorgia;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
    
    color: #545454;
}


@mixin headingSubtitle {
    font-size: 15px;
    line-height: 24px;
}


@mixin petsName {
    font-family: $fontGeorgia;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    
    color: #545454;
}


@mixin btnStyle {
    display: block;
    min-width: 207px;
    min-height: 52px;
    padding: 15px 0;
    margin: 0 auto;
        
    border-radius: 100px;
    
    font-family: $fontGeorgia;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-align: center;
    
    text-decoration: none;
}


@mixin listParagraf {
    font-family: $fontGeorgia;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    text-align: center;
        
    color: #545454;
}


@mixin footerParagraf {
    font-family: $fontGeorgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;

    color: #F1CDB3;
}


/* CSS */
*,
*:after, 
*:before {
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
}


/* BODY */
body {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
}


/* PAGE */
.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 300px;
    
    margin: 0 auto;
}


/* HEADER */
.header {
    position: absolute;
    top: 30px;
    left: 20px;
    right: 20px;
    
    z-index: 1000;
    
    &__inner {
        display: flex;
        
        align-content: center;
    }
    
    &__title {
        font-family: $fontGeorgia;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 0.06em;

        color: #F1CDB3;

        padding-bottom: 7px;
    }
    
    &__subtitle {
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;

        color: #FFFFFF;
    }
    
}


/* NAV */
.nav {
    display: none;
}


/* INTRO */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    width: 100%;
    height: 120vh;
    max-height: 823px;
    
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    
    &__inner {
        width: 100%;
        min-height: 673px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;  
    }
    
    &__content {
        
    }
    
    &__heading {
        @include headingTitle;
        
        color: #FFFFFF;
    }
    
    &__subheading {
        @include headingSubtitle;
        text-align: center;
        
        color: #CDCDCD;
        
        margin: 55px 0;
    }
    
    &__btn {
        width: 100%;
        max-width: 207px;
        @include btnStyle;
        
        background-color: #F1CDB3;

        color: #292929;
    }
    
    &__screen {
        width: 260px;
        height: 271px;
        background: url(../images/start-screen-puppy.png) no-repeat;
        
        background-size: contain;
        
        position: relative;
        left: 45px;
        
        z-index: 1;
    }
    
}


/* ABOUT */
.about {
    
    padding: 45px 0;
    
    &__inner {
        width: 100%;
        height: 890px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    &__heading {
        @include headingTitle;
        
        margin-bottom: 45px;
    }
    
    &__subheading {
        @include headingSubtitle;
        
        text-align: justify;
        
        color: #4C4C4C;
    }
    
    &__pets {
        width: 260px;
        height: 353px;
        background: url(../images/about-pets.png) no-repeat;
        
        background-size: contain;
        
        margin: 0 auto;
        
        z-index: 1;
    }
    
}


/* PETS */
.pets {
    padding: 35px 0;
    
    background-color: #F6F6F6;

    &__inner {
        width: 100%;
        min-height: 707px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    &__heading {
        @include headingTitle;
    }
    
    &__slider {
        display: flex;
    }
    
    &__card {
        padding: 20px 0;
        
        margin: 0 auto;
    }
    
    &__card-1 {
        display: flex;
        flex-direction: column;
    }
    
    &__card-2 {
        display: none;
    }
    
    &__card-3 {
        display: none;
    }
    
    &__img {
        width: 100%;
        max-width: 270px;
        
        display: block;
        
        margin: 0 auto;
    }
    
    &__name {
        margin: 25px 0;
        
        @include petsName;
    }
    
    &__card-btn {
        margin-top: 85px;
        
        @include btnStyle;
        
        color: #292929;
        
        border: 2px solid #F1CDB3;
    }
    
    &__navigation {
        display: flex;
        justify-content: space-between;
        
        margin: 0 auto;
    }
    
    &__arrow {
        width: 52px;
        height: 52px;

        border: 2px solid #F1CDB3;
        border-radius: 100px;
        
        margin: 0 50px;
    }
    
    &__btn {
        @include btnStyle;
        
        background-color: #F1CDB3;

        color: #292929;
        
        margin: 10px 0;
    }
    
}


/* HELP */
.help {
    padding: 35px 0;
    
    &__inner {
        display: flex;
        flex-direction: column;
        
        margin-bottom: 35px;
    }
    
    &__heading {
        @include headingTitle;
        
        margin-bottom: 45px;
    }
    
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__item {
        width: 100%;
        min-width: 130px;
        
        flex: 1 1 0;
        
        padding: 10px;
        margin: 10px 5px;
    }
    
    &__icon {
        display: block;
        width: 100%;
        max-width: 50px;
        margin: 0 auto;
    }
    
    &__paragraf {
        @include listParagraf;
        
        padding-top: 15px;
    }
    
}


/* DONATION */
.donation {
    background-color: #F6F6F6;
    
    padding-top: 35px;
    
    &__inner {
        display: flex;
        flex-direction: column;
    }
    
    &__text {
        min-height: 281px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    &__heading {
        @include headingTitle;
    }
    
    &__subheading {
        @include headingSubtitle;
        
        color: #545454;
    }
    
    &__credit {
        display: flex;
        
        padding: 10px 15px;
        
        background-color: #F1CDB3;
        
        border-radius: 9px;
    }
    
    &__card {
        display: block;
        width: 100%;
        max-width: 30px;
    }
    
    &__number {
        @include listParagraf;
        
        align-self: center;
        
        margin-left: 25px;
    }
    
    &__paragraf {
        font-family: 'Arial';
        font-size: 12px;
        font-style: italic;
        line-height: 18px;
        text-align: justify;
        
        color: #B2B2B2;
    }
    
    &__img {
        margin: 40px auto;
    }
    
    &__dog {
        display: block;
        width: 100%;
        max-width: 260px;
    }
    
    
}


/* FOOTER */
.footer {
        background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
        
        padding: 35px 0 0;
    
    &__inner {
        display: flex;
        flex-direction: column;
    }
    
    &__contacts {
        margin-bottom: 45px;
    }
    
    &__heading {
        @include headingTitle;
        
        color: #FFFFFF;
    }
    
    &__mail {
        display: flex;
        justify-content: center;
        
        margin: 25px 0; 
    }
    
    &__letter {
        display: block;
        width: 100%;
        
        max-width: 40px;
        
        padding-right: 15px;
    }
    
    &__account {
        @include footerParagraf;
        
        align-self: center;
    }
    
    &__phone {
        display: flex;
        justify-content: center;
    }
    
    &__icon-phone {
        display: block;
        width: 100%;
        
        max-width: 40px;
        
        padding-right: 15px;
    }
    
    &__number {
        @include footerParagraf;
        
        align-self: center;
    }
    
    &__location {
        margin-bottom: 15px;
    }
    
    &__city {
        display: flex;
        
        margin: 25px 0;  
    }
    
    &__marker {
        display: block;
        width: 100%;
        height: 100%;
        
        max-width: 22px;
        max-height: 32px;
        
        margin-right: 15px;
    }
    
    &__boston {
        @include footerParagraf;
    }
    
    &__london {
        @include footerParagraf;
    }
    
    &__screen {
        width: 260px;
        height: 269px;
        background: url(../images/footer-puppy.png) no-repeat;
        
        background-size: contain;
        
        margin: 0 auto;
        
        z-index: 1;
    }
}



/* MEDIA 768 */
@media screen and (min-width: 768px) {
    
    /* CONTAINER */
    .container {
        max-width: 708px;
    }
    
    
    /* HEADER */
    .container {
        
    }
    
    
    /* NAV */
    .nav {
        display: inline-flex;
        align-self: center;
        
        &__link {
            font-size: 15px;
            line-height: 24px;
            
            color: #CDCDCD;
            
            text-decoration: none;
            
            border: 2px solid transparent;
            
            margin-left: 45px;
            
            &:hover {
                color: #FAFAFA;
                
                border-bottom: 2px solid #F1CDB3;
;
                transition: linear .4s;
            }
        }
    }
    
    
    /* HEADER */
    .header {
        
        .header__inner {
            justify-content: space-between;
        }
    }
    
    
    /* INTRO */
    .intro {
        max-height: 1165px;
        height: 175vh;
        
        .container {
            max-width: 569px;
        }
        
        &__inner {
            align-items: flex-start;
            min-height: 1015px;
            
            padding: 0 35px;
        }
        
        &__content {
            margin-bottom: 75px;
        }
        
        &__heading {
            font-size: 44px;
            line-height: 57px;
            text-align: left;
        }
    
        &__subheading {
            text-align: left;
        }
        
        &__screen {
            width: 569px;
            height: 593px;

            left: 45px;

            z-index: 1;
        }
    }
    
    
    /* ABOUT */
    .about {
        
        .container {
            max-width: 437px;
        }
        
        &__inner {
            max-height: 868px;
        }
        
        &__heading {
            font-size: 35px;
            line-height: 45px;
        }

        &__pets {
            width: 300px;
            height: 408px;
        }
    }
    
    
    /* PETS */
    .pets {
        padding: 75px 0;
        
        &__inner {
            min-height: 697px;
        }
        
        &__slider {
            display: flex;
            justify-content: center;
        }
        
        &__heading {
            font-size: 35px;
            line-height: 45px;
        }
        
        &__card {
            margin: 0 25px;
        }
        
        &__card-2 {
            display: flex;
            flex-direction: column;
        }
        
        &__navigation {
            margin: 0 -65px;
            
            position: relative;
            bottom: 250px;
        }
        
        &__btn {
            min-width: 260px;
            margin: 0 auto;
        }
        
    }
    
    
    /* HELP */
    .help {
        padding: 75px 0;
        
        .container {
            max-width: 630px;
        }
        
        &__heading {
            font-size: 35px;
            line-height: 45px;
        }
        
        &__item {
            padding: 20px;
            margin: 15px 30px;
        }
    }
    
    
    /* DONATION */
    .donation {
        padding: 75px 0;
        
        &__text {
            max-width: 380px;
            
            margin: 0 auto;
        }
        
        &__heading {
            font-size: 35px;
            line-height: 45px;
            
            text-align: left;
        }
        
        &__dog {
            max-width: 505px;
        }
    }
    
    
    /* FOOTER*/
    .footer {
        
        &__inner {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        &__content {
            display: flex;
            justify-content: space-between;
        }
        
        &__heading {
            text-align: left;
        }
        
        &__mail,
        &__phone {
            justify-content: flex-start;
        }
        
        &__screen {
            width: 300px;
            height: 310px;
        }
    }
    
}


/* MEDIA 1280 */
@media screen and (min-width: 1280px) {
    
    /* CONTAINER */
    .container {
        max-width: 1200px;
    }
    
    /* INTRO */
    .intro {
        max-height: 908px;
        
        .container {
            max-width: 1200px;
        }
        
        &__inner {
            flex-direction: row;
            
            padding: 0;
        }
        
        &__content {
            flex-basis: 40%;
            align-self: flex-end;
        }
        
        &__screen {
            width: 698px;
            height: 728px;
        
            align-self: flex-end;
        }
        
        &__btn {
            margin: 0;
        }
    }
    
    
    /* ABOUT */
    .about {
        
        .container {
            max-width: 900px;
        }
        
        &__inner {
            flex-direction: row-reverse;
            
            height: 470px;
        }
        
        &__text {
            flex-basis: 50%;
        }
        
    }
    
    
    /* PETS */
    .pets {
        
        &__card-3 {
            display: flex;
            flex-direction: column;
        }
        
        &__btn {
            margin-top: -50px;
        }
    }
    
    
    /* HELP */
    .help {
        
        .container {
            max-width: 1000px;
        }
    }
    
    
    /* DONATION */
    .donation {
        
        .container {
            max-width: 900px;
        }
        
        &__inner {
            flex-direction: row-reverse;
        }
        
        &__text {
            flex-basis: 50%;
        }
        
    }
    
    
    /* FOOTER */
    .footer {
        
        &__inner {
            flex-wrap: nowrap;
        }
        
        &__contacts,
        &__location {
            margin-bottom: 0;
        }
        
    }
    
}































































