/* VARIABLES */
/* MIXINS */
/* MIXINS */
/* CSS */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

/* PAGE */
.page {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

/* HEADER */
.header {
  position: absolute;
  top: 30px;
  left: 20px;
  right: 20px;
  z-index: 1000;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}
.header__title {
  font-family: "Georgia", sans-serif;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #292929;
  padding-bottom: 7px;
}
.header__subtitle {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
}

/* NAV */
.nav {
  display: none;
}

/* PETS */
.pets {
  position: relative;
  top: 120px;
  background-color: #F6F6F6;
  padding: 35px 0;
  margin-bottom: 55px;
}
.pets__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pets__heading {
  font-family: "Georgia", sans-serif;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
.pets__item {
  padding: 35px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pets__card {
  padding: 25px 0;
  background-color: #FAFAFA;
  margin: 20px 0;
}
.pets__card-768 {
  display: none;
}
.pets__card-1280 {
  display: none;
}
.pets__img {
  width: 100%;
  max-width: 270px;
  display: block;
  margin: 0 auto;
}
.pets__name {
  margin: 20px 0;
  font-family: "Georgia", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
.pets__card-btn {
  margin-top: 85px;
  display: block;
  min-width: 207px;
  min-height: 52px;
  padding: 15px 0;
  margin: 0 auto;
  border-radius: 100px;
  font-family: "Georgia", sans-serif;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  color: #292929;
  border: 2px solid #F1CDB3;
}
.pets__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}
.pets__button {
  display: block;
  width: 52px;
  height: 52px;
  border: 2px solid #CDCDCD;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.pets__button:active {
  border-color: #F1CDB3;
}
.pets__button-menu {
  background-color: #F1CDB3;
  border: none;
}

/* FOOTER */
.footer {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  padding: 35px 0 0;
  margin: 55px 0 0;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__contacts {
  margin-bottom: 45px;
}
.footer__heading {
  font-family: "Georgia", sans-serif;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  color: #FFFFFF;
}
.footer__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 0;
}
.footer__letter {
  display: block;
  width: 100%;
  max-width: 40px;
  padding-right: 15px;
}
.footer__account {
  font-family: "Georgia", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #F1CDB3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__icon-phone {
  display: block;
  width: 100%;
  max-width: 40px;
  padding-right: 15px;
}
.footer__number {
  font-family: "Georgia", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #F1CDB3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.footer__location {
  margin-bottom: 15px;
}
.footer__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0;
}
.footer__marker {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 22px;
  max-height: 32px;
  margin-right: 15px;
}
.footer__boston {
  font-family: "Georgia", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #F1CDB3;
}
.footer__london {
  font-family: "Georgia", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #F1CDB3;
}
.footer__screen {
  width: 260px;
  height: 269px;
  background: url(../images/footer-puppy.png) no-repeat;
  background-size: contain;
  margin: 0 auto;
  z-index: 1;
}

/* MEDIA 768 */
@media screen and (min-width: 768px) {
  /* CONTAINER */
  .container {
    max-width: 708px;
  }
  /* HEADER */
  .header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  /* NAV */
  .nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .nav__link {
    font-size: 15px;
    line-height: 24px;
    color: #545454;
    text-decoration: none;
    border: 2px solid transparent;
    margin-left: 45px;
  }
  .nav__link:hover {
    color: #292929;
    border-bottom: 2px solid #F1CDB3;
    -webkit-transition: linear 0.4s;
    transition: linear 0.4s;
  }
  /* PETS */
  .pets__heading {
    font-size: 35px;
    line-height: 45px;
  }
  .pets__item {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }
  .pets__card {
    margin: 15px auto;
  }
  .pets__card-768 {
    display: block;
  }
  .pets__navigation {
    margin-bottom: 35px;
  }
  /* FOOTER*/
  .footer__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__heading {
    text-align: left;
  }
  .footer__mail, .footer__phone {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__screen {
    width: 300px;
    height: 310px;
  }
}
@media screen and (min-width: 1280px) {
  /* CONTAINER */
  .container {
    max-width: 1200px;
  }
  /* PETS */
  .pets__item {
    max-width: 1200px;
  }
  .pets__card-1280 {
    display: block;
  }
  /* FOOTER */
  .footer__inner {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .footer__contacts, .footer__location {
    margin-bottom: 0;
  }
}